* {
	text-align: center;
	margin:0;                 
	padding:0; 
	box-sizing: border-box;
	font-family: Verdana;
}

h1 {
	margin-top:50px; 
	margin-bottom: 50px; 
}

h2 {
	height: 60px;
	text-align: left;
	margin-left: 10%;
	margin-top: 80px;
}

h3 {
	text-align: left;
	margin-left: 15%;
	margin-top: 30px;
}

p {
	text-align: left;
	margin: 2% 10% 2%;	
	line-height: 35px;
	font-size: 20px;
}

.flowbox {                /* box used to show RC4 flow */
	position: relative;
	float: left;
	right:-10%;
	display: inline-block;
	width: 15%;
	height: 120px;
	margin:10px;
	border-style: groove;
	border-width: 5px;
	border-color: lightblue;
	background-color: lavender;
	text-decoration: none;   /* to remove underline of links*/
}

.flowbox:hover {
	border-width: 8px;
	font-size: 20px;
}

.arrowbox {               /* boxed used to contain arrow*/
	position: relative;
	float: left;
	right:-10%;
	display: inline-block;
	width: 10%;
	height: 120px;
	margin:10px;
	padding-top:40px;     /* centralize the arrow */
}

img {
	height: 50%;
	width: 80%;
	display: inline-block;
	vertical-align: middle;
}

#blankspace {
	display: block;
	margin-top: 100px;
	margin-bottom: 100px;
	opacity: 0;
}


ul {
	display: table;
}

li {
	display: table-cell;
}

form {
	text-align: left;
	margin-left: 0;
}

input {
	height: 30px;
	width: 160px;
	margin-top: 30px;
	margin-left: 10%;
	display: inline-block;
	position: relative;
	float: left;
}

button {
	height: 30px;
	width: 340px;
	margin-top: 30px;
	margin-left: 10%;
	display: block;	
}

button.confirm {
	margin-left: 1%;
	width: 160px;
	margin-top: 30px; 
	display: inline-block;
	position: relative;
	float: left;
}

button.proceed {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

div.bpf {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 500px;
	display: block;
}

.grid-container {
	display: grid;
	grid-template-columns: 40% auto;
	padding: 15px 50px 20px 50px ;
	background-color: rebeccapurple;
}

.grid-container > div {
	background-color: lightblue;
	padding: 5px;
	margin: 15px;
}

.nextstage {
	text-decoration: none;
}

.velement {
	border-style: solid;
	border-width: 5px;
	border-color: forestgreen;
	background-color: yellowgreen;
	width: 40px;
	height: 40px;
	line-height: 30px;
	display: inline-block;
	position: relative;
	float: left;
	right:-10%;	
}

.vbox {
	width: 50px;
	height: 80px;
	position: relative;
	float: left;
	right:-10%;
	display: inline-block;
}

.hscroll {
	display: inline-block;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 40%;
	position: relative;
	float: left;
	right:-10%;
}

.super{
 	vertical-align: super;
 	font-size: xx-small;
 }

 .sub{
 	vertical-align: sub;
 	font-size: xx-small;
 }

 .italic {
 	font-style: italic;
}

.clear{
	clear:both;
	height:1px;
	margin-top:-1px;
	width:100%;
}  

.bottomspace {
	display: block;
	margin-bottom: 150px;
}



